RewriteEngine On

# Si le fichier ou le dossier existe, utiliser ce fichier
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, rediriger toutes les requêtes vers index.php
RewriteRule ^ index.php [QSA,L]
